.arts_frame {
    position: relative;
    width:100%;
    height:100%;
    background-color: black;
    perspective: 100rem;
    overflow: hidden;
    /* white-space: nowrap; */

}



.arts_artwork {
    position: absolute;
    width:100%;
    height:100%;
    overflow-y: hidden;
    background-color: black;
    transform-style: preserve-3d;
    transform-origin: right;
    z-index: 5;
    transition: transform 3s
}

.axisR{
    transform-origin: right;
}


.axisL{
    transform-origin: left;
}



.arts_artwork.flip-L{
    transform-origin: left;
    transform:rotateY(180deg);
    z-index: 2;
}

.arts_artwork.flip-R{
    transform-origin: right;
    transform:rotateY(-180deg);
     z-index: 2;
}

.arts_artwork .arts_display {
    position: relative;
    width:100%;
    height:100%;
    perspective: 800px;
    transform-style: preserve-3d;
    overflow: hidden;
   border: solid thin black;

}

.arts_artwork .arts_display img {
    position: relative;
    width:100%;
    height:100%;
    object-fit: cover;
    transform: translateZ(400px);
    transform-style: preserve-3d;
    animation: movingIn 60s 0s infinite;
}

@keyframes movingIn {
    0% {
        transform: translateZ(400px);
    }
    100% {
        transform: translateZ(0px);
    }
}

.arts_artwork .arts_details {
    position: absolute;
    z-index: 3;
    bottom:3%;
    left:3%;
    background-color: rgba(0, 0, 0, 0.671);
    color:white;
    padding: 1rem;
    box-shadow: 7px 10px 4px rgba(0, 0, 0, 0.603);
}


.arts_artwork .arts_details q {
    width:100%;
    text-align: left;
    font-family: Helvetica, sans-serif;
     text-transform: uppercase;
    font-weight: 100;
    box-sizing: border-box;
    font-size: 2rem;
}

.arts_artwork .arts_details .artist {
    width:100%;
    text-align:left;
    /* padding-left: .2rem; */
    letter-spacing: .2rem;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: 100;
    font-size: 3rem;
}


.arts_artwork .arts_details .year {
    font-size: 2rem;
    box-sizing: border-box;
}
